.button_green {
  width: 243px;
  height: 54px;
  background: linear-gradient(to right, #33cc33, #99cc66);
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 20px 0 20px 0;
}
