.contacts {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  @media (max-width: 480px) {
    flex-flow: column;
  }

  .contacts__back {
    width: 671px;
    height: auto;
    @media (max-width: 1366px) {
      width: 500px;
    }
    @media (max-width: 1024px) {
      width: 350px;
    }
    @media (max-width: 320px) {
      width: 200px;
    }
  }

  .contacts__map {
    width: 898px;
    height: auto;
    background-position: right;
    background-size: cover;
    @media (max-width: 1366px) {
      width: 750px;
    }
    @media (max-width: 1366px) {
      width: 500px;
    }
    @media (max-width: 480px) {
      margin-top: 450px;
    }
  }

  .contacts__info {
    position: absolute;
    max-width: 620px;
    left: 10%;
    top: 20%;
    display: flex;
    flex-flow: column nowrap;

    .contacts__info-title {
      font-size: 54px;
      font-weight: 900;
      margin: 0 0 35px 0;
      @media (max-width: 660px) {
        font-size: 40px;
      }
      @media (max-width: 480px) {
        font-size: 28px;
      }
    }

    .contacts__info-description {
      font-size: 18px;
      margin: 0 0 35px 0;
    }

    .contacts__data {
      display: flex;
      @media (max-width: 480px) {
        flex-flow: column;
      }

      .data__item {
        @media (max-width: 480px) {
          display: flex;
          flex-flow: row;
        }
        .item__img {
        }

        .data {
          .address {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          // .phone {
          // }
          // .email {
          // }
        }
      }
    }
  }
}
