.contacts {
  position: relative;
  height: 750px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1366px) {
    height: 600px;
  }
  @media (max-width: 1024px) {
    height: 450px;
  }
  @media (max-width: 480px) {
    height: 600px;
  }

  .contacts__back {
    position: absolute;
    width: 600px;
    height: auto;
    @media (max-width: 1366px) {
      width: 470px;
    }
    @media (max-width: 1024px) {
      width: 350px;
    }
    @media (max-width: 320px) {
      width: 200px;
    }
  }

  .contacts__map {
    position: absolute;
    width: 820px;
    height: auto;
    right: 0;
    @media (max-width: 1366px) {
      width: 630px;
    }
    @media (max-width: 1024px) {
      width: 500px;
    }
    @media (max-width: 768px) {
      display: none;
    }
    @media (max-width: 480px) {
      margin-top: 450px;
    }
  }

  .contacts__info {
    position: relative;
    max-width: 620px;
    left: 10%;
    top: 20%;
    display: flex;
    flex-flow: column nowrap;
    @media (max-width: 768px) {
      left: 0;
      top: 7%;
      padding: 0 7% 0 7%;
    }
    @media (max-width: 640px) {
      width: 450px;
    }

    .contacts__info-title {
      font-size: 54px;
      font-weight: 900;
      margin: 0 0 35px 0;

      @media (max-width: 660px) {
        font-size: 40px;
      }
      @media (max-width: 480px) {
        font-size: 28px;
      }
    }

    .contacts__info-description {
      font-size: 18px;
      margin: 0 0 35px 0;
    }

    .contacts__data {
      display: flex;

      @media (max-width: 480px) {
        flex-flow: column;
      }

      .data__item {
        width: 210px;
        height: auto;
        font-size: 16px;
        font-weight: 600;
        @media (max-width: 480px) {
          display: flex;
          flex-flow: row;
          margin-bottom: 5%;
        }
        .item__img {
          width: 65px;
          height: 80px;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
          border-radius: 0 20px 0 20px;
          margin-right: 3%;
        }

        .data {
          .address {
          }

          // .phone {
          // }
          // .email {
          // }
        }
      }
    }
  }
}
