.main__footer {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 2%;
  position: absolute;
  .form {
    z-index: 10;
    max-width: 880px;
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: -55px;
    .form__slogan {
      color: #fff;
      font-size: 20px;
      font-style: italic;
      margin: 0 0 25px 0;
    }
    .h2__title {
      font-size: 44px;
      font-weight: 900;
      color: #fff;
      margin: 0 0 50px 0;
      @media (max-width: 768px) {
        font-size: 32px;
      }
      @media (max-width: 450px) {
        font-size: 22px;
      }
    }
    .p__description {
      font-size: 18px;
      color: #fff;
      margin: 0 0 50px 0;
    }
    .form__input {
      display: flex;
      width: 100%;
      max-width: 880px;
      @media (max-width: 900px) {
        flex-flow: column;
        align-items: center;
      }
      .input {
        box-sizing: border-box;
        border: none;
        border-radius: 20px 0 20px 0;
        width: 100%;
        max-width: 650px;
        height: 54px;
        outline: none;
        padding: 15px;
        font-size: 18px;
        font-weight: 400;
        @media (max-width: 900px) {
          margin-bottom: 20px;
        }
        @media (max-width: 450px) {
          font-size: 14px;
        }
      }
      .orange {
        margin-left: -30px;
        padding: 15px;
        @media (max-width: 900px) {
          margin: 0;
        }
      }
    }
  }
  .form_margin-top {
    @media (max-width: 850px) {
      top: 0;
    }
  }
}

.main__footer_saumal {
  background-image: url("../img/saumal-footer-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 1024px;
  margin-top: -200px;
  @media (max-width: 850px) {
    height: 1380px;
    margin-top: -330px;
  }
}
.main__footer_normoprotein {
  background-image: url("../img/normoprotein-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 1032px;
  margin-top: -280px;
  @media (max-width: 850px) {
    height: 1380px;
    margin-top: -430px;
  }
}

.main__footer_all {
  background-image: url("../img/fotoditazin-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 863px;
  margin-top: -90px;
  @media (max-width: 850px) {
    height: 1175px;
    margin-top: -175px;
  }
}

.main__footer_index {
  background-image: url("../img/main-green-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 1024px;
  margin-top: -324px;
  @media (max-width: 850px) {
    height: 1403px;
    margin-top: -450px;
  }
}

.main__footer_margin {
  margin-top: 13%;
}
.footer__picture {
  display: block;
  position: absolute;
  width: 100%;

  img {
    display: block;
    width: 100%;
    min-height: 1050px;
    @media (max-width: 850px) {
      height: 1250px;
    }
    @media (max-width: 783px) {
      height: 1290px;
    }
    @media (max-width: 402px) {
      height: 1360px;
    }
  }
}

.footer__picture_margin {
  img {
    min-height: 785px;
    height: 704px;
    margin-top: 174px;
    @media (max-width: 1366px) {
      height: 730px;
      margin-top: 341px;
    }
    @media (max-width: 850px) {
      height: 973px;
    }
    @media (max-width: 783px) {
      height: 957px;
      margin-top: 324px;
    }
    @media (max-width: 560px) {
      height: 1043px;
      margin-top: 324px;
    }
    @media (max-width: 402px) {
      height: 1043px;
      margin-top: 372px;
    }
  }
}
