.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  border-bottom: 1px solid #ccffcc;
  padding: 0 2% 0 2%;
  .header__burger {
    background: url("../img/burger-icon.png");
    display: none;
    width: 34px;
    height: 22px;
    outline: none;
    cursor: pointer;
    border: none;
    margin-right: 30px;
    @media (max-width: 1024px) {
      display: flex;
    }
  }
  .header__phone {
    display: none;
    cursor: pointer;
    @media (max-width: 1024px) {
      display: flex;
    }
  }
  .header__nav {
    max-width: 1360px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1024px) {
      justify-content: center;
    }
    .nav__item_logo {
      width: 100%;
      max-width: 65px;
      height: auto;
      @media (max-width: 1150px) {
        width: 50px;
        height: 50px;
      }
    }
    .nav__item {
      padding: 35px 15px 35px 15px;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      font-weight: 500;
      white-space: nowrap;
      @media (max-width: 1150px) {
        font-size: 14px;
      }
      @media (max-width: 1024px) {
        display: none;
      }
      &:hover {
        border-top: 3px solid #33cc33;
        background: linear-gradient(to bottom, #eef9ee, #fff);
      }
    }
  }
  .button_green_margin-left {
    margin-left: 3%;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}
