.index {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: auto;
  .index__back {
    position: absolute;
    width: 600px;
    height: auto;
    @media (max-width: 1366px) {
      width: 470px;
    }
    @media (max-width: 1024px) {
      width: 350px;
    }
    @media (max-width: 320px) {
      width: 200px;
    }
  }
  .back__img {
    width: 650px;
    height: auto;
    position: absolute;
    right: 0;
    z-index: 0;
    @media (max-width: 1366px) {
      width: 500px;
    }
    @media (max-width: 1024px) {
      width: 350px;
      top: 18%;
    }
    @media (max-width: 768px) {
      width: 310px;
      top: 33%;
    }
    @media (max-width: 480px) {
      width: 270px;
      top: 45%;
    }
  }
  .index__info {
    z-index: 10;
    max-width: 620px;
    display: flex;
    flex-flow: column nowrap;
    margin: 10% 0 20% 10%;
    @media (max-width: 768px) {
      left: 0;
      top: 7%;
      padding: 0 2% 0 7%;
      margin-left: 10px;
    }

    @media (max-width: 640px) {
      width: 450px;
    }
    .index__info-title {
      font-size: 54px;
      font-weight: 900;
      margin: 0 0 35px 0;

      @media (max-width: 660px) {
        font-size: 40px;
      }
      @media (max-width: 480px) {
        font-size: 28px;
      }
    }
    .index__info-description {
      max-width: 680px;
      font-size: 18px;
      margin-bottom: 8%;
      @media (max-width: 1024px) {
        max-width: 480px;
      }
    }
  }
}
.company {
  z-index: 50;
  max-width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  @media (max-width: 768px) {
    margin-top: 60px;
  }
  @media (max-width: 560px) {
    margin-top: 100px;
  }
  @media (max-width: 480px) {
    margin-top: 220px;
  }
  .company__img {
    position: absolute;
    left: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .h2__title {
    font-size: 44px;
    font-weight: 900;
  }
  .description {
    z-index: 50;
    font-size: 18px;
    max-width: 880px;
    padding: 0 7% 10% 7%;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}
.product {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  .product__back {
    position: absolute;
    right: 0;
    top: 0;
    @media (max-width: 1024px) {
      width: 650px;
    }
  }
  .product__wrap {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 0 5% 0 5%;
    //margin-bottom: 5%;
    z-index: 100;
    max-width: 1341px;
    margin: 0 auto 5% auto;
    @media (max-width: 1450px) {
      justify-content: center;
    }
    .product__content {
      box-sizing: border-box;
      max-height: 700px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      max-width: 600px;
      padding: 5% 0 5% 0;
      border-radius: 20px 20px 0 20px;
      margin: 0 2% 4% 2%;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      background-color: #fff;
      @media (max-width: 1305px) {
        max-width: 500px;
      }
      @media (max-width: 480px) {
        height: 434px;
        padding: 5%;
      }

      .product__img {
        max-height: 280px;
        @media (max-width: 480px) {
          max-width: 120px;
        }
      }
      .product__img_width {
        max-width: 250px;
      }
      .h3__title {
        font-size: 32px;
        font-weight: 900;
        margin: 2% 0 2% 0;
      }
      .product__description {
        font-size: 16px;
      }
      .button_green .button_green_product {
        margin-bottom: 20px;
      }
    }
  }
}
