.back__img {
  width: 100%;
  height: auto;
  @media (max-width: 1366px) {
    width: 500px;
  }
  @media (max-width: 1024px) {
    width: 350px;
  }
  @media (max-width: 320px) {
    width: 200px;
  }
}

.company {
  max-width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  .h2__title {
    font-size: 44px;
    font-weight: 900;
  }
  .description {
    font-size: 18px;
    margin-bottom: 250px;
    max-width: 880px;
  }
}
.product {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .product__wrap {
    display: flex;
    justify-content: center;
    max-width: 600px;
    height: auto;
    padding: 3% 0 3% 0;
    border-radius: 20px 20px 0 20px;
    margin: 0 2% 2% 2%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    @media (max-width: 1305px) {
      max-width: 500px;
    }
    .product__content {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      .product__img {
        max-width: 500px;
        width: 100%;
        max-height: 300px;
      }

      .h3__title {
        font-size: 32px;
        font-weight: 900;
      }
      .product__description {
        font-size: 16px;
      }
      .button_green .button_green_product {
        margin-bottom: 20px;
      }
    }
  }
}
