.header__block-item {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7%;
  .back__left {
    width: 820px;
    height: auto;
    @media (max-width: 1366px) {
      max-width: 493px;
    }
    @media (max-width: 768px) {
      max-width: 340px;
    }
    @media (max-width: 480px) {
      max-width: 280px;
    }
  }
  .back__right {
    width: 245px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    @media (max-width: 1366px) {
      max-width: 140px;
    }
    @media (max-width: 380px) {
      display: none;
    }
  }
  .item__wrap {
    position: absolute;
    display: flex;
    margin-left: 15%;
    max-width: 1220px;
    @media (max-width: 1400px) {
      margin-left: 10%;
    }
    @media (max-width: 768px) {
      flex-flow: column;
      top: 80px;
      align-items: center;
    }
    @media (max-width: 480px) {
      flex-flow: column;
      top: 20%;
    }

    .item__wrap_image {
      max-width: 475px;
      height: auto;
      margin-right: 20%;
      @media (max-width: 1366px) {
        max-width: 300px;
        margin-right: 10%;
      }
      @media (max-width: 768px) {
        max-width: 250px;
        margin-right: 5%;
        min-height: 300px;
      }
      @media (max-width: 480px) {
        max-width: 220px;
        margin-bottom: 30px;
        margin-right: 0;
      }
    }
    .item_wrap_image-width {
      @media (max-width: 768px) {
        max-width: 350px;
        margin-bottom: 15%;
        margin-right: 0;
        min-height: 100%;
      }
      @media (max-width: 452px) {
        margin-bottom: 25%;
      }
      @media (max-width: 320px) {
        margin-bottom: 39%;
      }
    }
    .item__wrap_image-margin {
      margin-right: 10%;
    }

    .item__wrap_info {
      @media (max-width: 812px) {
        max-width: 400px;
        padding-left: 8%;
      }
      @media (max-width: 452px) {
        margin-left: -10px;
        padding-left: 0;
      }

      .info__slogan {
        color: #ff3333;
        font-size: 20px;
        font-style: italic;
        margin: 0 0 25px 0;
        @media (max-width: 1366px) {
          font-size: 12px;
          margin: 0 0 15px 0;
        }
        @media (max-width: 320px) {
          margin-bottom: 5px;
        }
      }
      .info__slogan_orange {
        color: #cc6600;
      }

      .h1__title {
        font-size: 54px;
        font-weight: 900;
        margin: 0 0 55px 0;
        @media (max-width: 1366px) {
          font-size: 30px;
          margin: 0 0 30px 0;
        }
        @media (max-width: 806px) {
          margin: 0 0 15px 0;
          font-size: 24px;
        }
      }
      .info__advantage {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 55px 0;
        max-width: 640px;
        @media (max-width: 1366px) {
          margin: 0 0 30px 0;
        }
        @media (max-width: 806px) {
          margin: 0 0 15px 0;
        }
        @media (max-width: 451px) {
          display: none;
        }
        .advantage__item {
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: 600;
          margin: 0 10px 18px 0;
          @media (max-width: 1366px) {
            font-size: 10px;
          }
          @media (max-width: 806px) {
            margin-bottom: 5px;
          }
          &:not(:last-child):after {
            content: "";
            width: 8px;
            height: 8px;
            background-color: #669933;
            margin-left: 10px;
            border-radius: 20px;
          }
        }
        .advantage__item_blue {
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: 600;
          margin: 0 10px 18px 0;
          @media (max-width: 1366px) {
            font-size: 10px;
          }
          @media (max-width: 806px) {
            margin-bottom: 5px;
          }
          &:not(:last-child):after {
            content: "";
            width: 8px;
            height: 8px;
            margin-left: 10px;
            border-radius: 20px;
            background-color: #003366;
          }
        }
        .advantage__item_orange {
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: 600;
          margin: 0 10px 18px 0;
          @media (max-width: 1366px) {
            font-size: 10px;
          }
          @media (max-width: 806px) {
            margin-bottom: 5px;
          }
          &:not(:last-child):after {
            content: "";
            width: 8px;
            height: 8px;
            margin-left: 10px;
            border-radius: 20px;
            background-color: #cc9966;
          }
        }
      }
    }
    .item__wrap_info-padding {
      @media (max-width: 812px) {
        max-width: 400px;
        padding-left: 0;
      }
    }
  }
}
.about-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10% 0 10%;
  max-width: 1280px;
  margin-bottom: 7%;
  @media (max-width: 850px) {
    flex-flow: column;
  }
  @media (max-width: 768px) {
    top: 300px;
  }
  .item__product {
    max-width: 780px;
    padding-right: 10%;
    border-right: 1px solid #ccc;
    margin-right: 10%;
    @media (max-width: 850px) {
      border-right: none;
      border-bottom: 1px solid #ccc;
      margin: 0 0 15px 0;
    }
    .h2__title {
      font-size: 44px;
      font-weight: 900;
      margin: 0 0 30px 0;
      @media (max-width: 1366px) {
        font-size: 26px;
      }
      @media (max-width: 806px) {
        font-size: 20px;
      }
    }
    .p__about-one {
      font-size: 18px;
      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
    .p__about-two {
      font-size: 18px;
      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
}
.item__composition {
  z-index: 10;
  margin-bottom: 7%;
  .h2__title {
    font-size: 44px;
    font-weight: 900;
    margin: 0 0 30px 0;
    @media (max-width: 1366px) {
      font-size: 26px;
    }
    @media (max-width: 806px) {
      font-size: 20px;
    }
  }
  .p__about-one {
    font-size: 18px;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
  .p__about-two {
    font-size: 18px;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
  .p__about-one_red {
    color: red;
    font-style: italic;
    font-weight: 700;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
  .p__about-one_orange {
    color: #cc6600;
    font-style: italic;
    font-weight: 700;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
  .p__about-two {
    font-size: 18px;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}
.benefit {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% 0 10%;
  margin-bottom: 7%;

  @media (max-width: 768px) {
    top: 300px;
  }
  .back__middle {
    position: absolute;
    right: 0;
    width: 800px;
    height: auto;
    z-index: 0;
    @media (max-width: 1584px) {
      width: 600px;
    }
    @media (max-width: 1366px) {
      width: 500px;
    }
  }
  .benefit__wrap {
    z-index: 10;
    display: flex;
    flex-flow: row;
    height: auto;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 768px) {
      flex-flow: column;
    }
    .benefit__item {
      width: 320px;
      display: flex;
      flex-flow: column;
      margin-right: 20px;
      @media (max-width: 1024px) {
        width: 240px;
      }
      @media (max-width: 768px) {
        flex-flow: row;
        width: 100%;
        margin-bottom: 15px;
      }
      .benefit__item__img {
        width: 150px;
        height: 176px;
        border-radius: 10px 10px 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
        @media (max-width: 1024px) {
          width: 120px;
          height: 140px;
        }
        @media (max-width: 768px) {
          margin-right: 3%;
          width: 80px;
          height: 90px;
        }
        .item__img {
          @media (max-width: 768px) {
            max-width: 80px;
            height: 95px;
          }
        }
      }
      .p-benefit__item {
        font-size: 16px;
        margin: 0;
        @media (max-width: 1024px) {
          font-size: 14px;
        }
      }
      .p-benefit__item_bold {
        font-size: 20px;
        font-weight: 800;
        margin: 30px 0 20px 0;
        @media (max-width: 1366px) {
          font-size: 16px;
        }
        @media (max-width: 1024px) {
          font-size: 14px;
        }
        @media (max-width: 768px) {
          margin: 0 0 10px 0;
        }
      }
    }
  }
}
.app {
  z-index: 10;
  margin-bottom: 7%;
  @media (max-width: 768px) {
    margin-top: 350px;
  }
  .block__app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    z-index: 10;
    @media (max-width: 768px) {
      flex-flow: column;
    }
    .app__image {
      position: relative;
      .image__back-color {
        width: 471px;
        height: 554px;
        border-radius: 50px 50px 0 50px;
        position: absolute;
        top: 73px;
        @media (max-width: 1366px) {
          width: 321px;
          height: 365px;
        }
        @media (max-width: 480px) {
          top: 40px;
          width: 242px;
          height: 287px;
        }
      }
      .image__back-color_red {
        background-color: #ff3333;
      }
      .image__back-color_lightgreen {
        background-color: #99cc99;
      }
      .image__back-color_gray {
        background-color: #ccc;
      }
      .image__back-color_green {
        background-color: #669933;
      }
      .image__back-color_reverse {
        width: 487px;
        height: 554px;
        left: 99px;
        @media (max-width: 480px) {
          left: 66px;
        }
      }
      .image__back-color_orange {
        background-color: #cc6600;
      }
      .image__item {
        position: relative;
        @media (max-width: 1366px) {
          width: 400px;
          height: auto;
        }
        @media (max-width: 480px) {
          width: 300px;
        }
      }
    }
    .app__image_reverse {
      order: 2;
      @media (max-width: 768px) {
        order: 1;
      }
    }
    .app__info_reverse {
      order: 1;
      @media (max-width: 768px) {
        order: 2;
      }
    }
    .app__info {
      display: flex;
      flex-flow: column;
      max-width: 640px;
      margin: 5%;

      .p__description {
        font-size: 18px;
        margin-bottom: 70px;
        @media (max-width: 768px) {
          margin: 0 0 20px 0;
        }
        @media (max-width: 480px) {
          font-size: 14px;
        }
      }
    }
  }
}

.buy-item {
  z-index: 100;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 0 10% 0 10%;
}
.buy-item_margin-bottom {
  margin-bottom: 130px;
  @media (max-width: 1366px) {
    margin-bottom: 0;
  }
}

.info__slogan {
  z-index: 10;
  color: #ff3333;
  font-size: 20px;
  font-style: italic;
  @media (max-width: 1366px) {
    font-size: 12px;
    margin: 0 0 15px 0;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.info__slogan_orange {
  color: #cc6600;
}

.h2__title {
  z-index: 10;
  font-size: 44px;
  font-weight: 900;
  margin: 0 0 30px 0;
  @media (max-width: 1366px) {
    font-size: 26px;
  }
  @media (max-width: 806px) {
    font-size: 20px;
  }
}
.p__description {
  font-size: 18px;
  margin-bottom: 70px;
  @media (max-width: 768px) {
    margin: 0 0 20px 0;
  }
  @media (max-width: 480px) {
    font-size: 14px;
  }
}
.price {
  display: flex;
  margin-bottom: 5%;
  .price__item {
    color: #cc3333;
    font-weight: bold;
    font-size: 40px;
    margin: 0 20px 0 0;
    @media (max-width: 1366px) {
      font-size: 34px;
    }
    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
  .price__item_sup {
    font-weight: 600;
    font-size: 24px;
    text-decoration: line-through;
    text-decoration-color: #cc3333;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  .price__item_orange {
    color: #cc6600;
  }
  .price__item_sup-orange {
    text-decoration-color: #cc6600;
  }
}
.margin {
  @media (max-width: 480px) {
    top: 350px;
  }
  @media (max-width: 380px) {
    top: 370px;
  }
}
