.header__block-item {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7%;
}
.header__block-item .back__left {
  width: 868px;
  height: auto;
}
@media (max-width: 1366px) {
  .header__block-item .back__left {
    max-width: 493px;
  }
}
@media (max-width: 768px) {
  .header__block-item .back__left {
    max-width: 340px;
  }
}
@media (max-width: 480px) {
  .header__block-item .back__left {
    max-width: 280px;
  }
}
.header__block-item .back__right {
  width: 245px;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 1366px) {
  .header__block-item .back__right {
    max-width: 140px;
  }
}
@media (max-width: 380px) {
  .header__block-item .back__right {
    display: none;
  }
}
.header__block-item .item__wrap {
  position: absolute;
  display: flex;
  margin-left: 15%;
  max-width: 1220px;
}
@media (max-width: 1400px) {
  .header__block-item .item__wrap {
    margin-left: 10%;
  }
}
@media (max-width: 768px) {
  .header__block-item .item__wrap {
    flex-flow: column;
    top: 80px;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .header__block-item .item__wrap {
    flex-flow: column;
    top: 20%;
  }
}
.header__block-item .item__wrap .item__wrap_image {
  max-width: 475px;
  height: auto;
  margin-right: 15%;
}
@media (max-width: 1366px) {
  .header__block-item .item__wrap .item__wrap_image {
    max-width: 300px;
    margin-right: 10%;
  }
}
@media (max-width: 768px) {
  .header__block-item .item__wrap .item__wrap_image {
    max-width: 250px;
    margin-right: 5%;
    min-height: 300px;
  }
}
@media (max-width: 480px) {
  .header__block-item .item__wrap .item__wrap_image {
    max-width: 220px;
    margin-bottom: 30px;
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .header__block-item .item__wrap .item__wrap_info {
    margin-left: -10px;
  }
}
.header__block-item .item__wrap .item__wrap_info .info__slogan {
  color: #ff3333;
  font-size: 20px;
  font-style: italic;
  margin: 0 0 25px 0;
}
@media (max-width: 1366px) {
  .header__block-item .item__wrap .item__wrap_info .info__slogan {
    font-size: 12px;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 320px) {
  .header__block-item .item__wrap .item__wrap_info .info__slogan {
    margin-bottom: 5px;
  }
}
.header__block-item .item__wrap .item__wrap_info .h1__title {
  font-size: 54px;
  font-weight: 900;
  margin: 0 0 55px 0;
}
@media (max-width: 1366px) {
  .header__block-item .item__wrap .item__wrap_info .h1__title {
    font-size: 30px;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 806px) {
  .header__block-item .item__wrap .item__wrap_info .h1__title {
    margin: 0 0 15px 0;
    font-size: 24px;
  }
}
.header__block-item .item__wrap .item__wrap_info .info__advantage {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 55px 0;
  max-width: 640px;
}
@media (max-width: 1366px) {
  .header__block-item .item__wrap .item__wrap_info .info__advantage {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 806px) {
  .header__block-item .item__wrap .item__wrap_info .info__advantage {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 451px) {
  .header__block-item .item__wrap .item__wrap_info .info__advantage {
    display: none;
  }
}
.header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 10px 18px 0;
}
@media (max-width: 1366px) {
  .header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item {
    font-size: 10px;
  }
}
@media (max-width: 806px) {
  .header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item {
    margin-bottom: 5px;
  }
}
.header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item:not(:last-child):after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #669933;
  margin-left: 10px;
  border-radius: 20px;
}
.header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item_blue {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 10px 18px 0;
}
@media (max-width: 1366px) {
  .header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item_blue {
    font-size: 10px;
  }
}
@media (max-width: 806px) {
  .header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item_blue {
    margin-bottom: 5px;
  }
}
.header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item_blue:not(:last-child):after {
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #003366;
}
.header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item_orange {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 10px 18px 0;
}
@media (max-width: 1366px) {
  .header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item_orange {
    font-size: 10px;
  }
}
@media (max-width: 806px) {
  .header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item_orange {
    margin-bottom: 5px;
  }
}
.header__block-item .item__wrap .item__wrap_info .info__advantage .advantage__item_orange:not(:last-child):after {
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #cc9966;
}

.about-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10% 0 10%;
  max-width: 1280px;
  margin-bottom: 7%;
}
@media (max-width: 850px) {
  .about-item {
    flex-flow: column;
  }
}
@media (max-width: 768px) {
  .about-item {
    top: 300px;
  }
}
.about-item .item__product {
  max-width: 780px;
  padding-right: 10%;
  border-right: 1px solid #ccc;
  margin-right: 10%;
}
@media (max-width: 850px) {
  .about-item .item__product {
    border-right: none;
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px 0;
  }
}
.about-item .item__product .h2__title {
  font-size: 44px;
  font-weight: 900;
  margin: 0 0 30px 0;
}
@media (max-width: 1366px) {
  .about-item .item__product .h2__title {
    font-size: 26px;
  }
}
@media (max-width: 806px) {
  .about-item .item__product .h2__title {
    font-size: 20px;
  }
}
.about-item .item__product .p__about-one {
  font-size: 18px;
}
@media (max-width: 480px) {
  .about-item .item__product .p__about-one {
    font-size: 14px;
  }
}
.about-item .item__product .p__about-two {
  font-size: 18px;
}
@media (max-width: 480px) {
  .about-item .item__product .p__about-two {
    font-size: 14px;
  }
}

.item__composition {
  z-index: 10;
  margin-bottom: 7%;
}
.item__composition .h2__title {
  font-size: 44px;
  font-weight: 900;
  margin: 0 0 30px 0;
}
@media (max-width: 1366px) {
  .item__composition .h2__title {
    font-size: 26px;
  }
}
@media (max-width: 806px) {
  .item__composition .h2__title {
    font-size: 20px;
  }
}
.item__composition .p__about-one {
  font-size: 18px;
}
@media (max-width: 480px) {
  .item__composition .p__about-one {
    font-size: 14px;
  }
}
.item__composition .p__about-two {
  font-size: 18px;
}
@media (max-width: 480px) {
  .item__composition .p__about-two {
    font-size: 14px;
  }
}
.item__composition .p__about-one_red {
  color: red;
  font-style: italic;
  font-weight: 700;
}
@media (max-width: 480px) {
  .item__composition .p__about-one_red {
    font-size: 14px;
  }
}
.item__composition .p__about-two {
  font-size: 18px;
}
@media (max-width: 480px) {
  .item__composition .p__about-two {
    font-size: 14px;
  }
}

.benefit {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% 0 10%;
  margin-bottom: 7%;
}
@media (max-width: 768px) {
  .benefit {
    top: 300px;
  }
}
.benefit .back__middle {
  position: absolute;
  right: 0;
  width: 800px;
  height: auto;
  z-index: 0;
}
@media (max-width: 1584px) {
  .benefit .back__middle {
    width: 600px;
  }
}
@media (max-width: 1366px) {
  .benefit .back__middle {
    width: 500px;
  }
}
.benefit .benefit__wrap {
  z-index: 10;
  display: flex;
  flex-flow: row;
  height: auto;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 768px) {
  .benefit .benefit__wrap {
    flex-flow: column;
  }
}
.benefit .benefit__wrap .benefit__item {
  width: 320px;
  display: flex;
  flex-flow: column;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .benefit .benefit__wrap .benefit__item {
    width: 240px;
  }
}
@media (max-width: 768px) {
  .benefit .benefit__wrap .benefit__item {
    flex-flow: row;
    width: 100%;
    margin-bottom: 15px;
  }
}
.benefit .benefit__wrap .benefit__item .benefit__item__img {
  width: 150px;
  height: 176px;
  border-radius: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .benefit .benefit__wrap .benefit__item .benefit__item__img {
    width: 120px;
    height: 140px;
  }
}
@media (max-width: 768px) {
  .benefit .benefit__wrap .benefit__item .benefit__item__img {
    margin-right: 3%;
    width: 80px;
    height: 90px;
  }
}
@media (max-width: 768px) {
  .benefit .benefit__wrap .benefit__item .benefit__item__img .item__img {
    max-width: 80px;
    height: 95px;
  }
}
.benefit .benefit__wrap .benefit__item .p-benefit__item {
  font-size: 16px;
  margin: 0;
}
@media (max-width: 1024px) {
  .benefit .benefit__wrap .benefit__item .p-benefit__item {
    font-size: 14px;
  }
}
.benefit .benefit__wrap .benefit__item .p-benefit__item_bold {
  font-size: 20px;
  font-weight: 800;
  margin: 30px 0 20px 0;
}
@media (max-width: 1366px) {
  .benefit .benefit__wrap .benefit__item .p-benefit__item_bold {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .benefit .benefit__wrap .benefit__item .p-benefit__item_bold {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .benefit .benefit__wrap .benefit__item .p-benefit__item_bold {
    margin: 0 0 10px 0;
  }
}

.app {
  z-index: 10;
  margin-bottom: 7%;
}
@media (max-width: 768px) {
  .app {
    margin-top: 350px;
  }
}
.app .block__app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10% 0 10%;
  z-index: 10;
}
@media (max-width: 768px) {
  .app .block__app {
    flex-flow: column;
  }
}
.app .block__app .app__image {
  position: relative;
}
.app .block__app .app__image .image__back-color {
  width: 471px;
  height: 554px;
  border-radius: 50px 50px 0 50px;
  position: absolute;
  top: 73px;
}
@media (max-width: 1366px) {
  .app .block__app .app__image .image__back-color {
    width: 321px;
    height: 365px;
  }
}
@media (max-width: 480px) {
  .app .block__app .app__image .image__back-color {
    top: 40px;
    width: 242px;
    height: 287px;
  }
}
.app .block__app .app__image .image__back-color_red {
  background-color: #ff3333;
}
.app .block__app .app__image .image__back-color_lightgreen {
  background-color: #99cc99;
}
.app .block__app .app__image .image__back-color_gray {
  background-color: #ccc;
}
.app .block__app .app__image .image__back-color_green {
  background-color: #669933;
}
.app .block__app .app__image .image__back-color_reverse {
  width: 487px;
  height: 554px;
  left: 99px;
}
@media (max-width: 480px) {
  .app .block__app .app__image .image__back-color_reverse {
    left: 66px;
  }
}
.app .block__app .app__image .image__back-color_orange {
  background-color: #cc6600;
}
.app .block__app .app__image .image__item {
  position: relative;
}
@media (max-width: 1366px) {
  .app .block__app .app__image .image__item {
    width: 400px;
    height: auto;
  }
}
@media (max-width: 480px) {
  .app .block__app .app__image .image__item {
    width: 300px;
  }
}
.app .block__app .app__image_reverse {
  order: 2;
}
@media (max-width: 768px) {
  .app .block__app .app__image_reverse {
    order: 1;
  }
}
.app .block__app .app__info_reverse {
  order: 1;
}
@media (max-width: 768px) {
  .app .block__app .app__info_reverse {
    order: 2;
  }
}
.app .block__app .app__info {
  display: flex;
  flex-flow: column;
  max-width: 640px;
  margin: 5%;
}
.app .block__app .app__info .p__description {
  font-size: 18px;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .app .block__app .app__info .p__description {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 480px) {
  .app .block__app .app__info .p__description {
    font-size: 14px;
  }
}

.buy-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 0 10% 0 10%;
}

.info__slogan {
  z-index: 10;
  color: #ff3333;
  font-size: 20px;
  font-style: italic;
}
@media (max-width: 1366px) {
  .info__slogan {
    font-size: 12px;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 768px) {
  .info__slogan {
    display: none;
  }
}

.h2__title {
  z-index: 10;
  font-size: 44px;
  font-weight: 900;
  margin: 0 0 30px 0;
}
@media (max-width: 1366px) {
  .h2__title {
    font-size: 26px;
  }
}
@media (max-width: 806px) {
  .h2__title {
    font-size: 20px;
  }
}

.p__description {
  font-size: 18px;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .p__description {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 480px) {
  .p__description {
    font-size: 14px;
  }
}

.price {
  display: flex;
  margin-bottom: 5%;
}
.price .price__item {
  color: #cc3333;
  font-weight: bold;
  font-size: 40px;
  margin: 0 20px 0 0;
}
@media (max-width: 1366px) {
  .price .price__item {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .price .price__item {
    font-size: 28px;
  }
}
.price .price__item_sup {
  font-weight: 600;
  font-size: 24px;
  text-decoration: line-through;
  text-decoration-color: #cc3333;
  margin: 0;
}
@media (max-width: 768px) {
  .price .price__item_sup {
    font-size: 18px;
  }
}
.price .price__item_orange {
  color: #cc6600;
}
.price .price__item_sup-orange {
  text-decoration-color: #cc6600;
}

@media (max-width: 480px) {
  .margin {
    top: 350px;
  }
}
@media (max-width: 380px) {
  .margin {
    top: 370px;
  }
}

/*# sourceMappingURL=item.css.map */
