.container {
  width: 100%;
  display: flex;
  height: auto;
  .fixed_overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 120;
    .popup {
      position: relative;
      max-width: 890px;
      width: 100%;
      height: auto;
      background-color: #fff;
      padding: 7%;
      margin: 7%;
      border-radius: 75px 0 75px 0;
      @media (max-width: 1024px) {
        max-width: 590px;
      }
      .popup__close-btn {
        width: 26px;
        position: absolute;
        right: 10%;
        cursor: pointer;
        z-index: 20;
      }
      .popup_icon {
        z-index: 100;
        position: relative;
        max-width: 120px;
        height: auto;
        @media (max-width: 450px) {
          max-width: 80px;
        }
      }
      .popup__title {
        position: relative;
        z-index: 20;
        font-size: 36px;
        font-weight: 900;
        margin: 3% 0 4%;
        @media (max-width: 1024px) {
          font-size: 32px;
        }
        @media (max-width: 480px) {
          font-size: 26px;
        }
      }
      .popup__img {
        position: absolute;
        height: auto;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
        z-index: 1;
        @media (max-width: 1024px) {
          max-width: 400px;
        }
        @media (max-width: 480px) {
          max-width: 310px;
        }
      }
      .popup-post__img {
        position: absolute;
        //height: auto;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
        z-index: 0;
        height: 90%;
        width: 100%;
        border-radius: 70px 0 39px 0;
      }
      .popup_description {
        z-index: 1;
        position: relative;
      }
      .popup__form {
        z-index: 10;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        width: 100%;

        .form__content {
          display: flex;
          flex-flow: row nowrap;
          width: 100%;
          justify-content: space-between;
          @media (max-width: 768px) {
            flex-flow: column;
          }
          .form__input_width {
            width: 49%;
            @media (max-width: 768px) {
              width: 100%;
            }
          }
        }
        .form__checkbox {
          margin: 3% 0 5% 0;
          .custom__checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }
          .custom__checkbox + label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            cursor: pointer;
          }
          .custom__checkbox + label::before {
            content: "";
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid#33cc33;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
          }
          .custom__checkbox:checked + label::before {
            border-color: #33cc33;
            background-color: #33cc33;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
          }
        }
        .popup__btn-post {
          align-self: flex-end;
        }
      }
    }
    .popup-post_width {
      box-sizing: border-box;
      max-width: 500px;
      width: 100%;
      max-height: 540px;
      @media (max-width: 1024px) {
        max-width: 350px;
      }
    }
  }
  .hide {
    display: none;
  }
  .show {
    display: flex;
  }
}
.form__input-modal {
  font-weight: 500;
  font-size: 16px;
  z-index: 10;
  height: 60px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2%;
  background-color: transparent;
  &:focus {
    border-bottom: 2px solid #33cc33;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
.popup__wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
